extends layout

block content
    p Welcome to Forbidden Tontine, a game of playing the odds and betraying 
      |your friends
    
    if (user)
        p Hello #{user.username}!
    
    .main-container-blog
        h2 2 Feb 2016  
        p Some news about some things that are happening.
          | could maybe post videos as well or something.
      
        h2 25 Jan 2016
        p Another fake blog entry. This one is to take up 
          | more space on the page so I can make sure the
          | spaces scale correctly.
