doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    link(href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css')
    // my style sheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      img(src='/images/TontineTitle.png')
      
      nav.navbar
        .container-fluid
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              li: a(href="/") Home
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Game
                  span.caret
                ul.dropdown-menu
                  li: a(href="/Game") Rules
                  li: a(href="#") Start a Game
                  li: a(href="#") Find an Existing Game
              li: a(href="#") News
              li: a(href="#") Contact
              ul.nav.navbar-nav.navbar-right
                li: a(href="#") login
                li: a(href="#") Other
      
    .main-container  
      block content
    
    .sidebar
      //block sidebar
      h2.sidebar-title Sidebar Title.
      p Content under the sidebar title. Lots of things should go here
      
      h2.sidebar-title Second Title.
      p More sidebar content goes into here.
    
    
    .footer
      p Footer content goes in here

    // Script includes.
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    script(type="text/javascript").
      $(document).ready( function() {
        console.log( "ready!" );
      });
      
