doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      img(src='/images/TontineTitle.png')
      ul.nav
        li 
          a(href="/") Home
        li
          a(href="/game") Game
        li
          a(href="#") News
        li
          a(href="#") Contact
        ul(style="float:right;list-style-type:none;")
          li
            a(href="#") login
      
      
    block content
    
    .sidebar
      h2.sidebar-title Sidebar Title.
      p Content under the sidebar title. Lots of things should go here
      
      h2.sidebar-title Second Title.
      p More sidebar content goes into here.
    
    
    .footer
      p Footer content goes in here


    // Script includes.
    script(type="text/javascript").
      $(document).ready(fuction() {
        console.log("Document loaded")
      });
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
