doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    link(href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css')
    // my style sheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      img(src='/images/TontineTitle.png')
      
      nav.navbar
        .container-fluid
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              li: a.fancy(href="/") Home
              li.dropdown
                a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Game
                  span.caret
                ul.dropdown-menu
                  li: a.fancy(href="/rules") Rules
                  li: a.fancy(href="/start") Start a Game
                  li: a.fancy(href="/find") Find an Existing Game
              li: a.fancy(href="/news") News
              li: a.fancy(href="/contact") Contact
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  if (user)
                    a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") #{user.username}
                      span.caret
                    ul.dropdown-menu
                      li
                      li: a.fancy(href="/logout") Logout 
                  if (!user)
                    a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Login
                      span.caret
                    ul.dropdown-menu
                      li
                          form(role='form', action="/register",method="post", style='max-width: 100px;')
                          .form-group
                              input.form-control(type='text', name="username", placeholder='Enter Username')
                          .form-group
                            input.form-control(type='password', name="password", placeholder='Password')
                          button.btn.btn-default(type='submit') Submit
                      li.divider
                      li: a.fancy(href="/createUser") Create New User 
                  
      
    .row
      .col-md-9
        .main-container  
          block content
        
      .col-md-3
        .sidebar
          include ./sidebar.jade
    
    
    .footer
      #connect
        a(href="#"): i.fa.fa-rss
        a(href="#"): i.fa.fa-facebook
        a(href="#"): i.fa.fa-twitter

    // Script includes.
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    script(type="text/javascript").
      $(document).ready( function() {
        console.log( "ready!" );
      });
      
