doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    link(href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css')
    // my style sheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      img(src='/images/TontineTitle.png')
      
      nav.navbar
        .container-fluid
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              li: a.fancy(href="/") Home
              li.dropdown
                a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Game
                  span.caret
                ul.dropdown-menu
                  li: a.fancy(href="/rules") Rules
                  li: a.fancy(href="/game/createGame") Start a Game
                  li: a.fancy(href="/game/findGame") Find an Existing Game
              li: a.fancy(href="/news") News
              li: a.fancy(href="/contact") Contact
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  if (user)
                    a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") #{user.username}
                      span.caret
                    ul.dropdown-menu
                      li
                      li: a.fancy(href="/logout") Logout 
                  if (!user)
                    a.fancy.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Login
                      span.caret
                    ul.dropdown-menu
                        li: a.fancy(href="/login") Login 
                        li.divider
                        li: a.fancy(href="/createUser") Create New User 
                  
      
    .row
      #main-container.col-md-9
          block content
        
      #sidebar.col-md-3 
          include ./sidebar.jade
    
    
    #footer
      #connect
        a(href="#"): i.fa.fa-rss
        a(href="#"): i.fa.fa-facebook
        a(href="#"): i.fa.fa-twitter

    // Script includes.
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    script.
        $(function() {
          $( "#datepicker" ).datepicker();
        });
        
    script(type="text/javascript").
      $(document).ready( function() {
        console.log( "ready!" );
      });
      
