extends gameLayout

block content
    h2 Sample Game Overview
    script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
    script(src="/javascripts/gameDisplays/gameOverview.js")
    
    div(id="timeline")
        canvas(id="timeline-canvas" height="500" width="1150")
        
    
