body {
    background: url(../images/parchment-paper.jpg) no-repeat center center fixed;
    background-position: top;
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: BW;
    src: url(../BeyondWonderland.woff);
}
/***********************************
     Header content
***********************************/

#header{
}
#header img {
}
.navbar .fancy {
    font-family: BW;
    font-size: 30px;
    color: black;
}
.container-fluid {
    border-bottom: 1px solid black;
}

/**************************************
      main container
**************************************/
.main-container{
    border: 2px solid #666666;
    padding-left: 10px;
    padding-right: 10px;
}
.main-container-blog {
    background-color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
}
.main-container-blog h2 {
    border-bottom: 1px solid black;
}
.main-container > p{
    font-size: 20px;
}

/****************************************
         footer
*****************************************/
.footer {
    background-color: #666666;
    margin: 10px 0px 10px 0px;
    clear: both;
}
#connect {
    font-size: 40px;
    text-align: center;
}
.fa {
    margin:0 10px;
}

/*****************************************
        sidebar
******************************************/
.sidebar{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cccccc;
}
.sidebar-title {
    border-bottom: 1px solid black;
}
