body {
    background: url(../images/parchment-paper.jpg) no-repeat center center fixed;
    background-position: top;
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
